<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Registro de Contacto</h3>
<form action="#" th:action="@{/registrarContacto}" th:object="${personaContacto}" method="post">
    <label for="name">Nombre</label>
    <input type="text" th:field="*{nombre}" id="name">

    <label for="apellido1">Apellido 1</label>
    <input type="text" th:field="*{apellido1}" id="apellido1">

    <label for="apellido2">Apellido 2</label>
    <input type="text" th:field="*{apellido2}" id="apellido2">

    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email">

    <label for="telefono">Telefono</label>
    <input type="number" th:field="*{telefono}" id="telefono">

     <label
        for="cliente">Seleccione al cliente que va a asociar este contacto</label> <select name="cliente" id="cliente" th:field="*{cliente}">
    <option th:each="entry : ${cliente}" th:value="${entry.id}" th:text="${entry.razon}"></option>

</select> <br />
    <input type="submit" value="Registrar">
</form>
<a href="/">Devolverme al inicio</a>
</body>
</html>