<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Registro Cliente</h3>
<form action="#" th:action="@{/registroCliente}" th:object="${cliente}" method="post">
    <label for="razon">Razon Social</label>
    <input type="text" th:field="*{razon}" id="razon">

    <label for="ced">Cedula Juridica</label>
    <input type="text" th:field="*{cedJuridica}" id="ced">

    <label for="direccion">Direccion</label>
    <input type="text" th:field="*{direccion}" id="direccion">

    <label for="telefono">Telefono</label>
    <input type="number" th:field="*{telefono}" id="telefono">


    <input type="submit" value="Registrar">
</form>
<a href="/registrarContacto">Registrar una persona de contacto</a>
</body>
</html>